<h1>{{user.username}}</h1>
{{#each articles}}
<div>
  <a href="{{url}}">{{title}}</a>
  <p>{{byline}}</p>
  <img src="{{imageURL}}" />
  <p>{{summary}}</p>
  <textarea id="{{id}}"></textarea>
  <button data-id="{{_id}}">Add Comment</button>
</div>
{{/each}}