<div class="row space-between nav" id="header">
  <div>
    <h1 id="logo"><a href="./">TechScraper</a></h1>
  </div>
  <div class="row end">
    <input id="user" type="text" class="userName" value="{{user.username}}" size="{{user.username.length}}" />
    <i id="usericon"></i>
  </div>
</div>
<div class="row" id="articles">
  {{#each articles}}
  <div class="article" data-article-id="{{_id}}">
    <a href="{{url}}">{{title}}</a>
    <p>by {{byline}}</p>
    <img src="{{imageURL}}" />
    <p>{{summary}}</p>
    <a href="{{_id}}" class="commentlink">View Comments ({{comments.length}})</a>
    <div class="hidden" data-comment-block="{{_id}}">
      <div id="comments-for-{{_id}}" class="comments"></div>
      <textarea id="{{id}}"></textarea>
      <button class="commentButton" data-id="{{_id}}">Add Comment</button>
    </div>
  </div>
  {{/each}}
</div>
<div class="row space-between">
  {{#unless firstPage}}
  <button id="prev">Back</button>
  {{/unless}}
  {{#if firstPage}}
  <span></span>
  {{/if}}
  <button id="next">Next</button>
</div>